framework: net5.0

source https://api.nuget.org/v3/index.json
nuget FSharp.Core

git ssh://git@bitbucket.lmc.cz:7999/archi/nuget-server.git master Packages: /nuget/
# LMC Nuget dependencies:
nuget Lmc.EnvironmentModel ~> 3.2
nuget Lmc.Metrics ~> 5.1
nuget Lmc.Profiler.Common ~> 3.1
nuget Lmc.ServiceIdentification ~> 5.2
nuget Lmc.State ~> 4.1

// [ FAKE GROUP ]
group Build
    storage none
    source https://api.nuget.org/v3/index.json
    nuget Fake.DotNet.Cli
    nuget Fake.IO.FileSystem
    nuget Fake.Core.Target
    nuget Fake.DotNet.AssemblyInfoFile
    nuget Fake.Core.ReleaseNotes
    nuget Fake.Tools.Git
